@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css") layer(framework);

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.body {
    background-color: #f0f0f0;
}
.row {
    min-height: 100px;
    width: 100%;
}
.col {
    width: 100%;
}
.col.left {
    width: calc(50% - 50px);
}
.col.right {
    padding-left: 10px;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    font-size: .75em;
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: center;
}
.design {
    background: #E6563B;
}
.develop {
    background: #EB9D3A;
}
.support {
    background: #7CB06C;
}
.host {
    background: #00ABA9;
}
.navbar-brand {
    font-family: 'Abel', sans-serif;
}
.nav-item {
    font-family: 'Abel', sans-serif;
    font-size: .75em;
    text-transform: uppercase;
}
h1, h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}
.circles {
    padding: 20px;
}
.row .circle {
    align-content: space-between;
}
.container.hero {
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.container.body {
    padding-right: 20px;
}
.img-fluid {
    border: 5px solid #E6E6E6;
    height: calc(100% -100px);
    width: calc(100% -100px);
}
.circleA {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    background: #E6563B;
}
.circleB {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    background: #EB9D3A;
}
.circleC {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    background: #7CB06C;
}
.circleD {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    background: #00ABA9;
}
.security {
    height: calc(80% - 10px);
}
.body.hidden {
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Abel', sans-serif;
    word-spacing: 1px;
}
h5 {
    font-family: 'Abel', sans-serif;
    text-align: left;
    width: min-content;
}
.right-header {
    margin-bottom: 80px;
}
h6 {
    font-family: 'Abel', sans-serif;
    margin-bottom: 80px;
}
.hidden-pics-mobile {
    height: fit-content;
    margin-bottom: 40px;
}
.hidden-pics-head {
    height: fit-content;
    margin-bottom: 40px;
}
.hidden-pics-ipad {
    height: fit-content;
    margin-top: 4px;
    margin-bottom: 30px;
}
.hidden-pics {
    margin-bottom: 80px;
}
.text {
    padding-top: 50px;
    padding-bottom: 50px;
}
.left-title {
    text-align: left;
}
.left-paragraph {
    text-align: left;
}






